@import url('https://fonts.cdnfonts.com/css/batmanforeveralternate');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Roboto&display=swap');
body{
    background-image: linear-gradient(45deg, #000505ea, #000000);
    margin: 0px;
    font-family: 'BatmanForeverAlternate', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
   font-size: 20px; 
   font-family: 'BatmanForeverAlternate', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
nav {
    text-align: left;
    width: 100%;
    z-index: 5;
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    padding:12px;
    display: flex;
    align-items: center;
}
nav a {
    text-decoration: none; /* Remova a decoração de texto (sublinhado) dos links, se necessário */
    margin:30px; /* Espaçamento entre os elementos de ancoragem */
                /* Alinha verticalmente com base no meio da linha de base */
    transition: 0.5s;
    
}
nav a:hover{
    color: #AA1F2B;
    font-size: 22px;
}
main{
    width: 100%;
}
footer{
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 4;
    bottom: 0;
    left: 0;
    position: absolute;
}
.position-relative{
    position:relative;
}
ul{
    margin:0px;
}
#footer-img{
    margin-left:35px;
    margin-right:25px;
    left:0;
 }

#container-csgo, #container-valorant, #container-overwatch, #container-brawhalla, #container-lol{
    width: 800px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    box-shadow: 0 2px 30px 5px rgba(0,0,0,.105004);
    cursor: pointer;
    font-size: 50px;
    border-radius: 20px;
    margin: 60px;
    transition: 0.8s ease;

}
#container-csgo:hover, #container-valorant:hover, #container-overwatch:hover, #container-brawhalla:hover, #container-lol:hover{
    transform: scale(1.08);
    font-size: 0;
}
#container-csgo p, #container-valorant p, #container-overwatch p, #container-brawhalla p, #container-lol p{
   margin: 20px;
   font-size: 30px;
}
#mainesportspage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgteam{
    position: absolute;

}
.caixa_time p{
    margin: 0px;
    font-size: 35px;
}
.caixa_time h4{
    padding-left: 25px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 20px;
}
#container-lol{
    background-image: url("../img/lol.jpg");
    background-position: center;
    background-size: cover;
    font-family: 'BatmanForeverAlternate', sans-serif;
    font-weight: bold;
    color: #ffffff  ;
    padding-left: 25px;
    margin: 30px;
}
#container-lol:hover{
    background-image: url(../img/Ezreal_20.png);
}
#container-brawhalla{
    background-image: url("../img/braw.jpg");
    background-position: center;
    background-size: cover;
    font-family: 'BatmanForeverAlternate', sans-serif;
    font-weight: bold;
    color: #ffffff  ;
    padding-left: 25px;
    margin: 30px;
}
#container-valorant{
    background-image: url("../img/VALORANT_1.png");
    background-position: center;
    background-size: cover;
    font-family: 'BatmanForeverAlternate', sans-serif;
    font-weight: bold;
    color: #ffffff  ;
    padding-left: 25px;
    margin: 30px;;
}
#container-csgo{
  background-image: url(../img/cs2.png);
    background-position: center;
    background-size: cover;
    font-family: 'BatmanForeverAlternate', sans-serif;
    font-weight: bold;
    color: #ffffff  ;
    padding-left: 25px;
    margin: 30px;

}
#container-csgo:hover{
    background-image: url(../img/cs-foto.png);
    background-size: cover;
    background-position: bottom;
    font-size:0px;
    color: rgb(212, 22, 22);
    
}
#container-overwatch{
    background-image: url(../img/ow.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'BatmanForeverAlternate', sans-serif;
    font-weight: bold;
    color: #ffffff  ;
    padding-left: 25px;
    margin: 30px;
}
#container-overwatch:hover{
    background-image: url(../img/jogo-overwatch.jpg);
    color: rgb(0, 0, 0);
}
#container-brawhalla:hover{
    background-image: url(../img/PPHkGC-1602307317840.jpg);
    color: crimson;
}
