@import url('https://fonts.cdnfonts.com/css/batmanforeveralternate');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Roboto&display=swap');
body{
    background-image: linear-gradient(45deg, #000505ea, #000000);
    margin: 0px;
    font-family: 'BatmanForeverAlternate', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
nav a{
   font-size: 20px; 
   font-family: 'BatmanForeverAlternate', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#img-logo{
    margin-right: 30px;
    margin-left:20px;
}
nav {
    text-align: left;
    width: 100%;
    z-index: 5;
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    padding:12px;
    display: flex;
    align-items: center;
}
nav a {
    text-decoration: none; /* Remova a decoração de texto (sublinhado) dos links, se necessário */
    margin:30px; /* Espaçamento entre os elementos de ancoragem */
                /* Alinha verticalmente com base no meio da linha de base */
    transition: 0.5s;
    
}
nav a:hover{
    color: #AA1F2B;
    font-size: 22px;
}
#button-div{
    text-align: center;
    display:flex;
    justify-content: center;
    z-index: 1;
    margin-top:50px;
    margin-bottom: 100px;
}
#button-div button{
    color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 18px;
    padding-bottom: 18px;
    border:solid white 1px ;
    background-color: transparent;
    font-size: 20px;
    font-family: 'BatmanForeverAlternate', sans-serif;
    cursor: pointer;
    transition: 0.8s ease;
}
#button-div button:hover{
    background-image: linear-gradient(45deg, #aa1f2ba3, #111111);
    color: rgb(0, 0, 0);
    border: solid black 1px;
    
    
}
iframe:hover{
    transform: scale(1.08);
    border-radius: 10px;
}
iframe{
    transition: 0.8s ease;
}

#carousel{
    width: 100%;
    position: relative;
}
.carousel-item{
    transition:0.8s ease;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
#previous{
    left:0; 
}
#next{
    right:0;    
}
#next,#previous{
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
    background-color: transparent;
    border: none;
    color: white;
    font-size:25px;
    transition: 0.5s;
    cursor: pointer;
}
#content{
    width:100%;
    height:100%;
    overflow: hidden;
}

#content-holder{
    display: flex;
    align-items: center; 
    transition: 1.5s ease;
}
#previous:hover,#next:hover{
    color:#AA1F2B;
    transform:scale(1.25);
}
.button-hidden{
    display: none;  
}
footer{
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 4;
    bottom: 0;
    left: 0;
    position: absolute;
    margin-top: 200px;
}
.position-relative{
    position:relative;
}
ul{
    margin:0px;
}
#footer-img{
   margin-left:35px;
   margin-right:25px;
}

#mainesportspage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container-rafael, #container-camile, #container-rick, #container-rangel, #container-pedro,#container-mauricio{
    padding-left:25px ;
    width: 390px;
    height: 350px;
    background-color: rgb(24, 93, 171);
    box-shadow: 0 2px 30px 5px rgba(0,0,0,.105004);
    cursor: pointer;
    font-size: 25px;
    margin: 20px;
    border-radius: 20px;
    background-image: url(../img/preto-vermelho.jpg);
    background-size: cover;
    transition: 0.8s;   
    border: solid 3px rgba(226, 204, 204, 0.691);
    color: #e5eef6;
}
#container-rafael:hover, #container-camile:hover, #container-rick:hover, #container-rangel:hover, #container-pedro:hover,#container-mauricio:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.08);
    border: 3px solid black;
    text-align: center ;
    -webkit-text-stroke: 0.5px #ffffffa4;
    
}
#mainrosterpage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:100px;
}
#mainroster2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom:100px;
}
#container-rafael p, #container-camile p, #container-rick p, #container-rangel p, #container-pedro p, #container-mauricio p{
    font-size: 24px;
    font-weight: lighter;
}
#container-pedro:hover{
    background-image: url(../img/players/pedro.jpeg);
}
#container-rick:hover{
    background-image: url(../img/players/rick.jpeg);
}
#container-camile:hover{
    background-image: url(../img/players/camile.jpeg);
}
#container-rafael:hover{
    background-image: url(../img/players/rafael.jpg);
}
.container-about{
    padding-left:25px;
    width: 1200px;
    height: 400px;
    background-color:#e5eef6cd;
    border: 3.5px solid black;
    box-shadow: 0 2px 30px 5px rgba(0,0,0,.105004);
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    border-radius: 20px;
    transition:0.8s ease;
  
}
.container-about2{
    padding-left:25px;
    width: 1200px;
    height: 400px;
    background-color:#e5eef6cd;
    border: 3.5px solid black;
    box-shadow: 0 2px 30px 5px rgba(0,0,0,.105004);
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    transition:0.8s ease;
    flex-direction: row;
}

.container-about2:hover{
    background-image: linear-gradient(45deg, #aa1f2ba3, #111111);
    transform: scale(1.08);
    background-color: #aa1f2ba3;
    color: white;
    border: white solid 3px;
}
.container-about:hover{
    background-image: linear-gradient(45deg, #aa1f2ba3, #111111);
    transform: scale(1.08);
    background-color: #aa1f2ba3;
    color: white;
    border: white solid 3px;
}

.texto-about{
    text-align: left;
    width: 550px;
    height: 100px;
    display: flex;
    margin-top: 60px;
}

.video-about{
    text-align: right;
    margin-right: 45px;
    margin-top: -100px;
}
#mainabout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
iframe{
    border-radius: 20px;
}
.txtmain{
    margin-bottom: 40px;
    color: white;
    font-size: 35px;
  
}
/*mudanças */
.texto-about2{
text-align: left;
width: 550px;
height: 100px;
margin-top: 60px;
margin-left: 50px;
}

.video-about2{
    text-align: left;
    width: 500px;
    height: 300px;
    margin-top: 50px;
    
}
#main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main-content{
    transition: 0.8s ease;
    margin: 40px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: left;
    padding: 20px;
    border-radius: 16px ;
    background-color: rgba(255, 255, 255, 0.841);
    border: black solid 3px;
}
.main-content:hover{
    background-image: linear-gradient(45deg, #aa1f2ba3, #111111);
    transform: scale(1.08);
    background-color: #aa1f2ba3;
    color: white;
    border: white solid 3px;
    
}
.txt-creators{
    color: white;
    text-align: center;
    margin: 40px;
}
.gradient {
    background-image: linear-gradient(to bottom,#fa0303e2,#ad4917, rgb(148, 55, 55));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.gradient:hover{
    background-image: linear-gradient(to bottom, rgb(255, 64, 1), #942a33a3, #11111192);
    color: rgb(255, 255, 255);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 h4 {
    font-size: 3rem;
    font-weight: bold;
  }

  .alinhamento-contact{
    text-align: center;
      }
      .container-contact{
        padding-left:25px;
        width: 1780px;
        height: 400px;
        background-color:#e5eef6cd;
        border: 3.5px solid black;
        box-shadow: 0 2px 30px 5px rgba(0,0,0,.105004);
        cursor: pointer;
        font-size: 20px;
        margin: 20px;
        border-radius: 20px;
        transition:0.8s ease;
       
    }
    
    .container-contact:hover{
        background-image: linear-gradient(45deg, #aa1f2ba3, #111111);
        transform: scale(1.08);
        background-color: #aa1f2ba3;
        color: white;
        border: white solid 3px;
        
    }
    li{
    width: 400px;    
    margin: 10px;
    }
    

    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .rede-joga a{
    text-decoration: none;
    color: #000000;
    }
